body {
  color: #727575;
  font-family: "Merriweather", serif;
  margin: 0;
  text-align: center;
}
a {
  color: #11999e;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
p {
  line-height: 2;
}
/*top-container*/
h1 {
  color: #66bfbf;
  font-family: "Sacramento", sans-serif;
  font-size: 5.625rem;
  margin-top: 50px;
}
h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
hr {
  border: 6px dotted #cccccc;
  border-bottom: none;
  margin: 100px auto;
  width: 6%;
}
.top-container {
  background-color: #e8f9fd;
  padding-top: 100px;
  position: relative;
  font-size: 5em;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.middle-container {
  margin: 100px 0;
}
.profile {
  margin: 0 auto;
  width: 50%;
}
.pp {
  width: 170px;
}
.skill-row {
  height: 152.15;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.skill-1 {
  float: left;
  height: 152.15;
  margin-right: 30px;
  width: 25%;
}
.skill-2 {
  float: right;
  height: 152.15;
  margin-left: 30px;
  width: 25%;
}
.contact-me {
  margin: 40px auto 60px;
  height: 240px;
  width: 40%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  background-image: url(/web/20180901170713im_/http://seanhalpin.io/assets/img/content/home/contact/mail.png);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: #727575;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.bottom-container {
  margin-top: 50px;
  background-color: #66bfbf;
  padding: 30px;
}
.ap {
  text-align: center;
  height: fit-content;
}
ul {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 20px;
  padding-left: 300px;
}
li {
  float: left;
  width: 15%;
  display: block;
}
.btm-pp {
  color: #eaf6f6;
  padding-top: 30px;
  font-size: 0.75rem;
}
